body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 420px) {
  body {
    width: 100vh;
  }
}

@media screen and (max-width: 575px) {
  body {
    width: 100vh;
  }
}

.box {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.box.show {
  opacity: 1;
  transform: translateY(0);
}

.svg-1,
.svg-2 {
  color: white !important;
}

@media screen and (max-width: 1400px) {
  .header-span {
    display: none;
  }
}

input{
  border-radius: 5px solid white!important;
}

.swal2-popup {
  background-color: white!important;
}