body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 420px) {
  body {
    width: 100vh;
  }
}

@media screen and (max-width: 575px) {
  body {
    width: 100vh;
  }
}

.box {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.box.show {
  opacity: 1;
  transform: translateY(0);
}

.svg-1,
.svg-2 {
  color: white !important;
}

@media screen and (max-width: 1400px) {
  .header-span {
    display: none;
  }
}

.contact-us {
  position: fixed;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: -30;

  .modal-background {
    background-color: #0a364f;
    padding: 0 50px 20px 50px;
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 20px;
  }

  .input-box {
    .field {
      margin-bottom: 20px;

      .item-1 {
        border-radius: 5px;
        border: 5px solid white;
        width: 100%;
        min-width: 350px;
      }
    }

    .textarea-field {
      .item-1 {
        height: 100px;
      }
    }

    .submit {
      color: white;
      background-color: transparent;
      border: 2px solid white;
      border-radius: 5px;
      padding: 10px 50px;
    }

    & .submit:hover {
      color: #0a364f !important;
      background-color: white !important;
      padding: 10px 50px !important;
    }

    .close {
      color: #0a364f;
      background-color: white;
      border: 2px solid white;
      border-radius: 5px;
      padding: 10px 50px;
    }

    & .close:hover {
      color: white;
      background-color: transparent;
      border: 2px solid white !important;
      border-radius: 5px !important;
      padding: 10px 50px!important;
    }
  }
}

& .contact-us .open {
  opacity: 1;
  z-index: -999;
}