h1 {
    font-family: 'Archivo Black', sans-serif;
    color: #0a364f !important;
}

@media screen and (max-width: 992px) {
    h1 {
        font-family: 'Archivo Black', sans-serif;
        font-size: 60px !important;
    }
}

@media screen and (max-width: 420px) {
    p {
        font-size: 25px;
        letter-spacing: 0.6px;
    }
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    color: #0a364f !important;
}

@media screen and (max-width: 420px) {
    h5{
        font-size: 30px !important;
    }
}

p{
    letter-spacing: 0.6px;
}

.f-bold {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

a {
    letter-spacing: 0.9px;
    font-family: 'Roboto', sans-serif;
}
@media screen and (max-width: 420px) {
    a{
        font-size: 25px;
    }
}

ul li {
    font-family: 'Roboto', sans-serif;
}

button {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.9px;
    font-weight: bold;
}

.button {
    background-color: transparent;
    border: 2px solid #0a364f;
    border-radius: 2px;
    color: #0a364f;
    padding: 10px;

    &.button:hover {
        background-color: #0a364f;
        color: white;
        padding: 10px;
        font-weight: bold;
        transition: 1s;
        border-radius: 2px;
    }

}