header {
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 2;
    transition: all 0.5s;
}

header.active{
    background-color: #0a3e5c;
    border-bottom: 1px solid white;
    position: fixed;
    top: 0;
    z-index: 5;
    transition: all 0.5s;
}

.contact a {
    background-color: white;
    color: #0a3e5c;
    border-radius: 2px;
    padding: 10px;
}

& .contact a:hover {
    color: white;
    background-color: transparent;
    transition: 0.5s;
}

@media screen and (max-width: 992px) {
    header{
        display: none!important;
     }
}

.item-list {
    position: relative;
}

.item-list a:after{
    content: '';
    position: absolute;
    background-color: aliceblue;
    height:2px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.6s;
    z-index: 3;

}

.item-list a:hover:after{
    width: 100%;
}